<%= form_for(@announcement) do |f| %>
  <% if @announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
      <% @announcement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :body, "Announcement" %><br>
    <%= f.text_area :body, :class => "form-control", :rows => "5" %>
  </div>
  <div class="form-group" id="announcement-date">
    <%= f.label :end_date, "Expiration Date" %><br>
    <%= f.date_field :end_date, :class => "form-control datepicker" %>
  </div>
	<%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-default" %>
  </div>
<% end %>
