<h1>Listing announcements</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>End date</th>
      <th>User</th>
      <th></th>
			<% if user_signed_in? %>
	      <th></th>
	      <th></th>
			<% end %>
    </tr>
  </thead>

  <tbody>
    <% @announcements.each do |announcement| %>
      <tr>
        <td><%= announcement.body %></td>
        <td><%= announcement.end_date %></td>
        <td><%= announcement.user_id %></td>
        <td><%= link_to 'Show', announcement %></td>
        <% if user_signed_in? %>
					<td><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
        	<td><%= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      	<% end %>
			</tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
	<%= link_to 'New Announcement', new_announcement_path %>
<% end %>