<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
	<div class="form-group">
    <%= f.label :description %>
    <%= render partial: "posts/syntax" %>
    <br />
    <%= f.text_area :description, :class => "form-control", :rows => "12" %>
  </div>
  <div class="form-group">
    <%= f.label :url %><br>
    <%= f.url_field :url, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :github_url %><br>
    <%= f.url_field :github_url, :class => "form-control" %>
  </div>
  <div class="form-group" id="project-status">
    <%= f.label :status %><br>
    <%= f.collection_select :status, %w[Complete In_Progress Not_Started], :to_s, :titleize,{}, {:class => "form-control"} %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-default" %>
  </div>
<% end %>
