<h1>Projects</h1>

<% @projects.each do |status, projects| %>
<div class="panel panel-default">
	<div class="panel-heading">Status: <%= status.to_s.titleize %></div>
	<div class="panel-body">
		<% projects.each do |project| %>
      <div class=well>
        <h3><%= link_to project.name, project %></h3>
        <%= markdown project.description %>
        <% if project.url? %>
       		<strong>Project URL:</strong> <%= link_to_if(project.url?, project.url, project.url)%><br />
       	<% end %>
       	<% if project.github_url? %>
        	<strong>GitHub URL:</strong> <%= link_to_if(project.github_url?, project.github_url, project.github_url)%>
        <% end %>
		<% if user_signed_in? %>
	        <div class="btn-group pull-right">
				<%= link_to 'Edit', edit_project_path(project), :class => "btn btn-default btn-xs" %>
				<%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default btn-xs" %>
			</div>
		<% end %>
    	</div>
    <% end %>
	</div>
</div>
<% end %>

<% if user_signed_in? %>
	<%= link_to 'New Project', new_project_path %>
<% end %>