<% @announcements.each do |announcement| %>
	<div class="alert alert-info"><%= "Announcement: #{announcement.body}" %></div>
<% end %>
<div id="wrapper">
  <div id="posts">
    <% @posts.each do|post| %>
    <div id="post" class="panel panel-default">
      <div class="panel-heading">
				<h2 class="panel-title"><%= post.title %></h2>
      </div>
			<div class="panel-body">
				<%= markdown post.body %>
				<div class="btn-group pull-right">
					<% if user_signed_in? %>
		        <%= link_to 'Edit', edit_post_path(post), :type => "button", :class => "btn btn-default btn-xs" %>
		        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :type => "button", :class => "btn btn-default btn-xs" %>
					<% end %>
	      </div>
			</div>
			<div class="panel-footer pull-right">by: <%= post.user.display_name %></div>
    </div>
    <% end %>
  </div>

  <br>
	<% if user_signed_in? %>
	  <%= link_to 'New Post', new_post_path %>
	<% end %>
</div>