<% @announcements.each do |announcement| %>
	<div class="alert alert-info"><%= "Announcement: #{announcement.body}" %></div>
<% end %>
<div id="wrapper">
	<div id="posts">
    <% @posts.each do|post| %>
    <div id="post" class="panel panel-default">
    	<div class="panel-heading">
			<h2 class="panel-title"><%= post.title %></h2>
		</div>
		<div class="panel-body">
			<%= markdown post.body %>
			<p>Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
			<p>Related Articles: <%= raw post.find_related_tags(count: 5).map { |p| link_to p.title, p }.join(', ') %></p>
			<div class="btn-group pull-right">
				<% if user_signed_in? %>
		        	<%= link_to 'Edit', edit_post_path(post), :type => "button", :class => "btn btn-default btn-xs" %>
		        	<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :type => "button", :class => "btn btn-default btn-xs" %>
				<% end %>
	      	</div>
		</div>
		<div class="panel-footer">by: <%= post.user.display_name %></div>
    </div>
    <% end %>
	</div>
	<%= will_paginate @posts, renderer: BootstrapPagination::Rails, bootstrap: 3 %>
	<% if user_signed_in? %>
	  <%= link_to 'New Post', new_post_path %>
	<% end %>
</div>