<div id="wrapper">
  <div id="posts">
    <% @posts.each do|post| %>
    <div id="post" class="panel panel-default">
      <div class="panel-heading">
				<h2 class="panel-title"><%= post.title %></h2>
      </div>
			<div class="panel-body">
				<%= markdown post.body %>
				<div class="btn-group pull-right">
	        <%= link_to 'Edit', edit_post_path(post), :type => "button", :class => "btn btn-default btn-xs" %>
	        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :type => "button", :class => "btn btn-default btn-xs" %>
	      </div>
			</div>
    </div>
    <% end %>
  </div>

  <br>

  <%= link_to 'New Post', new_post_path %>
</div>