<!DOCTYPE html>
<html>
	<head>
	  <title>Blog</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div id="header-wrap">
		  <div id="header">
		    <h1>WeeklyApps Blog</h1>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-1">

		  </div>
		  <div class="col-md-1"></div>
		  <div class="col-md-8">
				<% if notice %>
					<div class="alert alert-success"><%= notice %></div>
				<% end %>
				<% if alert %>
				<div class="alert alert-danger"><%= alert %></div>
				<% end %>
				<%= yield %>
			</div>
			<div class="col-md-1">
				<%= render 'layouts/devise_links' %>
				<div id="navgroup">
					<%= link_to('Blog Posts', posts_path, :class => "btn btn-default button-width") %>
					<%= link_to('Announcements', announcements_path, :class => "btn btn-default button-width") %>
					<%= link_to('Projects', projects_path, :class => "btn btn-default button-width") %>
				</div>
				<div id ="tags">
					<p><strong><u>Posts by tags:</u></strong></p>
					<div id="tag-list">
						<%= raw Post.tag_cloud.map { |t| link_to(tag_path(t.name), :class => "tag-list") do
						raw (t.name + "<span class=\"badge pull-right\">#{t.count}</span><br />")
						end }.join() %>
					</div>
				</div>
			</div>
			<div class="col-md-1">
			</div>
		</div>
	</body>
</html>
